{% extends 'base.html.twig' %}

{% block title %}{{news.title}}{% endblock %}

{% block body %}
    <h1 class="text-center my-4">{{news.title}}</h1>

    <div class="container">
        <div class='card'>
            <div class="card-body">
                {{ news.textContent | raw }}
            </div>
        <div class='mx-4 mb-4'>
            <footer class="blockquote-footer">Rédigé le {{ news.createAt ? news.createAt|date('d-m-Y') : '' }} à {{ news.createAt ? news.createAt|date('H:i:s') : '' }} par <cite title="Source Title">{{news.user.username | capitalize}}</cite></footer>
        </div>
    </div> 

    {% if news.commentsNumber == 0 %}
        <p class='text-center my-4'>AUCUN COMMENTAIRE</p>
    {% elseif news.commentsNumber == 1 %}
        <p class='text-center my-4'>COMMENTAIRE : {{ news.commentsNumber }}</p>
    {% else %}
        <p class='text-center my-4'>COMMENTAIRES : {{ news.commentsNumber }}</p>
    {% endif %}

    {% for comments in comments %}

        <div class="container">
            <div class="card my-2">
                <div class="card-body">
                    <h4  class="text-info">{{comments.user.username |capitalize }}</h4>
                    <p>{{ comments.contentComment}}</p>
                    <div class='mx-2 mb-1'>
                     <footer class="blockquote-footer">Rédigé le {{ comments.createAt ? comments.createAt|date('d-m-Y') : '' }} à {{ comments.createAt ? comments.createAt|date('H:i:s') : '' }}</footer>
                    </div>
                    <div>
                    {% if user != null %}
                        {% if comments.user.id == user.id %}
                            <a class="text-align-right" href="{{ path('comments_edit', {'id': comments.id}) }}">Modifier</a>
                        {% endif %}
                    {% endif %}     
                    </div>
                </div>
            </div>

        {% if user != null %}
            {% if comments.user.id == user.id %}
                {{ include('comments/_delete_form.html.twig') }}
            {% endif %}
        {% endif %}    


        </div>

    {% endfor %} 
        <div class="my-3">          
         {{ include('comments/_form.html.twig') }}
        </div>           
                 </div>

                 
{% endblock %}
