{% extends 'base.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block body %}

    <h1 class="text-center my-4 card-title text-center mt-4"><a href="{{ path('news_show', {'id': news.id}) }}">{{news.title}}</a></h1>
                <div class="container">
                    <div class='card'>
                            <div class="card-body">
                                {{ news.textContent }}
                            </div>
                            <div class='mx-4 mb-4'>
                                <i>Rédigé le {{ news.createAt ? news.createAt|date('d-m-Y') : '' }} à {{ news.createAt ? news.createAt|date('H:i:s') : '' }} par {{news.user.username |capitalize}}</i>
                            </div>

                            {% if user != null %}

                                {% if news.user.id == user.id %}

                                    <a class='text-right mx-4 mb-4' href="{{ path('news_edit', {'id': news.id}) }}"><i class="fas fa-edit"></i></a>
                                    {{ include('news/_delete_form.html.twig') }}
                                
                                {% endif %}

                            {% endif %}    

                    </div>
                    
                    <p>COMMENTAIRE(S) : {{ news.commentsNumber }}</p>

                    {% if app.user %}
                        <a class="btn btn-primary" href="{{ path('news_comments', {'id': news.id}) }}" role="button">Commenter</a>
                    {% elseif not app.user %}
                        <a class="btn btn-primary" href="/login" role="button">Commenter</a>
                    {% endif %}
                    
                
                 </div>

    {% for comments in comments %}

        <div class="container">
            <div class="card my-2">
                <div class="card-body">
                    <h4  class="text-info">{{comments.user.username |capitalize }}</h4>
                    <p>{{ comments.contentComment }}</p>
                    <div class='mx-2 mb-1'>
                        <p><i>Rédigé le {{ comments.createAt ? comments.createAt|date('d-m-Y') : '' }} à {{ comments.createAt ? comments.createAt|date('H:i:s') : '' }} </i></p>
                    </div>
                    <div>
                    {% if user != null %}


                        {% if comments.user.id == user.id %}

                            <a href="{{ path('comments_edit', {'id': comments.id}) }}"><i class="fas fa-edit"></i></a>
                            
                            {{ include('comments/_delete_form.html.twig') }}
                        {% endif %}

                    {% endif %}     
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}
